<div class='container-fluid'>
	<div ng-if='!CadastroCtrl.showFormPaciente'>
		<button class='btn btn-default' ng-click='CadastroCtrl.toggleFormPaciente()'>Cadastrar Paciente</button>
	</div>

	<div class='container' ng-if='CadastroCtrl.showFormPaciente'>
		<fieldset>
			<legend>
				Cadastrar Paciente
				<button class="close pull-right" ng-click='CadastroCtrl.toggleFormPaciente()'><span aria-hidden="true">&times;</span></button>
			</legend>
			<form>
				<div class='row'>
					<div class='form-group col-xs-12'>
						<label>Nome:</label>
						<input class='form-control' id='pacienteNome' type='text' ng-model='CadastroCtrl.pacienteForm.nome'>
					</div>
				</div>
				<div class='row'>
					<div class='form-group col-xs-4'>
						<label>Pré Natal:</label>
						<input class='form-control' id='pacientePreNatal' type='date' ng-model='CadastroCtrl.pacienteForm.preNatal'>
					</div>
					<div class='form-group col-xs-4'>
						<label>DUM:</label>
						<input class='form-control' id='pacienteDum' type='date' ng-model='CadastroCtrl.pacienteForm.dum'>
					</div>
					<div class='form-group col-xs-4'>
						<label>DPP:</label>
						<input class='form-control' id='pacienteDpp' type='date' ng-model='CadastroCtrl.pacienteForm.dpp'>
					</div>
				</div>
				<div class='row'>
					<div class='form-group col-xs-4'>
						<label>Data Consulta</label>
						<input class='form-control' id='pacienteDataConsulta' type='date' ng-model='CadastroCtrl.pacienteForm.dataConsulta'>
					</div>
					<div class='form-group col-xs-4 pull-right'>
						<button class='btn btn-success pull-right' ng-click='CadastroCtrl.cadastrarPaciente()'>Cadastrar</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>
</div>