<div class='container-fluid'>
	
	<div class='row'>
		<div class='col-xs-1'>
			<select class='form-control'>
				<option>Janeiro</option>
				<option>Fevereiro</option>
				<option>Março</option>
				<option>Abril</option>
			</select>
		</div>
	</div>

	<div class='row'>
		<table class='table table-striped'>
			<thead>
				<th>Nome</th>
				<th>Pré Natal</th>
				<th>DUM</th>
				<th>DPP</th>
				<th>Status</th>
				<th>Data da Consulta</th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat='paciente in AgendaCtrl.pacientes | orderBy : "nome"'>
					<td>{{paciente.nome}}</td>
					<td>{{paciente.preNatal}}</td>
					<td>{{paciente.dum}}</td>
					<td>{{paciente.dpp}}</td>
					<td>{{paciente.status}}</td>
					<td>{{paciente.dataConsulta}}</td>
					<td><button class='btn btn-warning btn-xs'><span class='glyphicon glyphicon-edit'></span></button></td>
					<td><button class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-remove'></span></button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<cadastro-paciente></cadastro-paciente>